<body>
{{> header}}
{{#if usuarios}}
    <h1>Listado de usuarios</h1>
    <div class="d-flex">
        {{#each usuarios}} 
            <div class="card me-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{nombre}}</h5>
                        <p class="card-text">{{apellidos}}</p>
                        <p class="card-text">{{mail}}</p>
                        <a href="/users/edit/{{id_usuario}}" class="btn btn-primary">Editar</a>
                        <a href="/users/delete/{{id_usuario}}" class="btn btn-danger">Eliminar</a>
                    </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <h1>Todavía no has añadido ningún usuario</h1>

{{/if}}
    

</body>